.banner-container {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-main-text h1{
    font-size: 6rem;
    color: #FF5139;
    text-shadow: 2px 2px 3px grey;

}

#banner-nav-options div {
    text-align: right;
}
#banner-nav-options a {
    text-transform: uppercase;
    text-decoration: none;
}



@media (max-width: 576px) {
    .banner-main-text h1{
        font-size: 5rem;
    }
}