.header-container {
    background-color: #041E7D;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.nav-item a{
    padding: 0 2rem;
    text-transform: uppercase;
    color:#FF5139;
    text-decoration: none;
    letter-spacing: .25rem;
    font-weight: bold;
}