.custom-primary {
    color: #FF5139
}

.custom-secondary {
    color:#FFFCF5
}
.custom-accent {
    color: #FFD230
}

body {
    background-color:#FFFCF5 ;
    color: #272626;
    font-family: 'Source Sans 3', sans-serif;
    ;
}
h1, h2 {
    font-family: 'Lora', serif;
}
h4 {
    font-family: 'Ysabeau Infant', sans-serif;

}
a{
    color: #FF5139;
}
a:hover {
    color:#FFD230;
    transition: color .3s ease;
}
